// *******************************GENERAL******************************
// *******************************NAVBAR*******************************
// *******************************ACCEUIL******************************
// *******************************COMPETENCES**************************
// *******************************PORTFOLIO****************************
// *******************************CONTACT******************************


// *******************************GENERAL******************************
* {
    margin: 0;
    padding: 0;
}


body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}




// *************************NAVBAR*********************

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    transition: ease-in-out;
    height: 5vh;
    z-index: 20;
    display: flex;

    ul {
        grid-area: gridNav;

        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style-type: none;
        align-items: center;

        li {
            grid-column: auto;
            text-decoration: none;
            text-align: center;
            position: relative;
            z-index: 2;

            &:hover {
                transition: ease-in-out .5s;
                overflow: auto;
                transform: translateZ(50px);
            }

            a {
                color: white;
                mix-blend-mode: difference;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    @media screen and (max-width: 720px) {
        display: none;
    }
}





// **********************************ACCEUIL****************************
main {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;


    .acceuil {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: ease-in-out;


        .acceuil-content {
            max-height: 600px;
            max-width: 1200px;
            width: 80%;
            display: grid;
            gap: 5%;
            grid-template-areas: ' gridPres  gridIntro gridIntro gridPhoto';

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);

            @media screen and (max-width: 720px) {
                display: grid;
                grid-template-areas: 'gridPres'
                    'gridIntro';
                grid-gap: 5%;
            }

            .photo {
                content: "";
                grid-area: gridPhoto;
                background: url(./medias/img/test.jpg) no-repeat center/cover;
                display: grid;
                height: 20vh;
                width: 20vh;
                position: relative;
                top: 50%;
                border-radius: 10vh;
                transform: translateY(-50%);
            }

            .presentation {
                grid-area: gridPres;

                padding: 30% 20% 30% 30%;
                width: 100%;

                margin: 0 0 0 0;

                display: grid;
                grid-template-areas: 'gridJesse'
                    'gridInfos'
                    'gridInfos';
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    grid-area: gridJesse;

                    position: relative;
                    text-align: left;
                }

                .infos {
                    grid-area: gridInfos;

                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    text-align: left;


                    ul {
                        list-style-type: none;
                    }
                }

            }


            .intro {
                grid-area: gridIntro;


                display: grid;
                text-align: justify;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                padding: 5% 5% 5% 5%;

                p {
                    grid-area: gridParagrapheIntro;
                }
            }
        }
    }




    // ******************************************COMPETENCES***********************************

    .competences {
        position: absolute;
        // top: 100%;
        height: 100%;
        width: 100%;
        visibility: hidden;
        transition: ease-in-out;

        display: grid;
        grid-template-areas: 'skillsArea'
            'autresArea';
        align-items: center;
        gap: 1px;

        .competences-content {
            grid-area: skillsArea;

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 1200px;
            padding: 7vh 10% 0 10%;

            display: inline-grid;
            grid-template-areas: 'languagesArea frameworksArea';


            .languages {
                grid-area: languagesArea;
            }

            .frameworks {
                grid-area: frameworksArea;
            }

            .languages,
            .frameworks
                {
                text-align: center;
                position: relative;
                display: grid;
                align-items: center;
                gap: 2vh;

                .skill {
                    padding: 0 2vh 0 2vh;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 20% auto;
                    text-align: left;

                    p {
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }

                    .bar {
                        position: relative;
                        top: 25%;
                        left: 0;

                        .progressBar {
                            background: chocolate;
                            height: .5vh;
                            width: 0;
                        }
                    }


                }
            }
        }

        .autres {
            grid-area: autresArea;


            padding: 5vh 0 5vh 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 1200px;
            text-align: justify;
            display: grid;
            color: white;
            mix-blend-mode: difference;

            &::before {
                position: absolute;
                left: calc((100vw - 1200px)/-2);
                width: 100vw;
                height: 100%;
                content: '';
                background: rgba(51, 51, 51, 1);
                z-index: -1;

                @media screen and (max-width: calc(1200px * 1.25)) {
                    left: calc((100vw - 80vw)/-2);
                }

            }
        }
    }

    // ***********************************PORTFOLIO*****************************
    .portfolio {
        position: absolute;
        // top: 100%;
        height: 100%;
        width: 100%;
        display: grid;
        visibility: hidden;
        transition: ease-in-out;

        .portfolio-content {
            grid-area: grid-portfolio;
            padding: 0 5vh 0 5vh;
            text-align: justify;
        }
    }



    // ************************************CONTACT***********************


    .contact {
        // position: relative;
        // top: 100%;
        height: 100%;
        width: 100%;
        display: grid;
        visibility: hidden;
        transition: ease-in-out .5s;

        .contact-content {
            grid-area: grid-contact;
            padding: 5vh;
            text-align: justify;
        }
    }
}

// .acceuil-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     background: url(./medias/img/lac.jpg) center/cover no-repeat fixed;

//     .acceuil-blur {
//         position: relative;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         height: 100%;
//         width: 80%;
//         max-width: 1200px;

//         background:inherit;
//         filter: blur(2px);

//         &::before {
//             background:inherit;
//         }

//     }
// }


#golden-ratio {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    visibility: hidden;
    height: 0px;
    transition: ease-in-out;

    .base {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        height: 90vh;
        width: calc(90vh * 1.618);
        display: flex;
    }
}
