* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  transition: 0.8s ease-in-out;
  height: 5vh;
  z-index: 1;
  display: flex;
}
.navbar ul {
  grid-area: gridNav;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  align-items: center;
}
.navbar ul li {
  grid-column: auto;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 2;
}
.navbar ul li:hover {
  transition: ease-in-out 0.5s;
  overflow: auto;
  transform: translateZ(50px);
}
.navbar ul li a {
  color: white;
  mix-blend-mode: difference;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .navbar {
    display: none;
  }
}

main {
  height: 100%;
  width: 100%;
}
main .acceuil {
  position: relative;
  height: 100%;
  width: 100%;
}
main .acceuil .acceuil-content {
  max-height: 600px;
  max-width: 1200px;
  width: 80%;
  padding: 5%;
  display: grid;
  gap: 5%;
  grid-template-areas: "gridPres gridIntro gridIntro";
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media screen and (max-width: 720px) {
  main .acceuil .acceuil-content {
    display: grid;
    grid-template-areas: "gridPres" "gridIntro";
    grid-gap: 5%;
  }
}
main .acceuil .acceuil-content .presentation {
  grid-area: gridPres;
  display: grid;
  grid-template-areas: "gridJesse" "gridInfos" "gridInfos";
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main .acceuil .acceuil-content .presentation h1 {
  grid-area: gridJesse;
  position: relative;
  text-align: left;
}
main .acceuil .acceuil-content .presentation .infos {
  grid-area: gridInfos;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
main .acceuil .acceuil-content .presentation .infos ul {
  list-style-type: none;
}
main .acceuil .acceuil-content .intro {
  grid-area: gridIntro;
  display: grid;
  text-align: justify;
  padding: 20px;
}
main .acceuil .acceuil-content .intro p {
  grid-area: gridParagrapheIntro;
}
main .competences {
  position: relative;
  top: 100%;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "skillsArea" "autresArea";
  align-items: center;
  gap: 1px;
}
main .competences .competences-content {
  grid-area: skillsArea;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  padding: 7vh 10% 0 10%;
  display: inline-grid;
  grid-template-areas: "languagesArea frameworksArea";
}
main .competences .competences-content .languages {
  grid-area: languagesArea;
}
main .competences .competences-content .frameworks {
  grid-area: frameworksArea;
}
main .competences .competences-content .languages,
main .competences .competences-content .frameworks {
  text-align: center;
  position: relative;
  display: grid;
  align-items: center;
}
main .competences .competences-content .languages .skill,
main .competences .competences-content .frameworks .skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .competences .competences-content .languages .skill .bar,
main .competences .competences-content .frameworks .skill .bar {
  width: 50%;
}
main .competences .competences-content .languages .skill .bar .progressBar,
main .competences .competences-content .frameworks .skill .bar .progressBar {
  width: 0;
  border: chocolate 2px solid;
}
main .competences .competences-content .languages .skill .bar p,
main .competences .competences-content .frameworks .skill .bar p {
  position: relative;
}
main .competences .autres {
  grid-area: autresArea;
  padding: 5vh 0 5vh 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  text-align: justify;
  display: grid;
  z-index: 1;
  color: white;
  mix-blend-mode: difference;
}
main .competences .autres::before {
  position: absolute;
  left: calc((100vw - 1200px)/-2);
  width: 100vw;
  height: 100%;
  content: "";
  background: #333333;
  z-index: -1;
}
@media screen and (max-width: calc(1200px * 1.25)) {
  main .competences .autres::before {
    left: calc((100vw - 80vw)/-2);
  }
}
main .portfolio {
  position: relative;
  top: 100%;
  height: 100%;
  width: 100%;
  display: grid;
}
main .portfolio .portfolio-content {
  grid-area: grid-portfolio;
  padding: 0 5vh 0 5vh;
  text-align: justify;
}
main .contact {
  position: relative;
  top: 100%;
  height: 100%;
  width: 100%;
  display: grid;
}
main .contact .contact-content {
  grid-area: grid-contact;
  padding: 5vh;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
